In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
soil1 = pd.read_excel('../data/nsw-assessment-of-soil-health.xlsx', sheet_name='texture_analysis')
print(soil1.shape)
soil1.head(3)

(451, 14)

,Site,< 0.060 um,0.06um-0.20um,0.20um-0.63um,0.06um-0.63um,0.63um-2.00um,2.00um-6.30um,6.30um-20.00um,20.00um-63.00um,>63.00um,> 2000.00um,Clay,Silt,Sand
0,CYP_001,0,0.0,3.674,3.674,18.059,20.094,13.121,19.861,25.191,0,25.407,53.076,21.517
1,CYP_002,0,0.0,3.311,3.311,14.786,17.700,15.294,22.992,25.918,0,21.408,55.986,22.606
2,CYP_003,0,0.0,1.831,1.831,8.651,19.092,24.099,30.016,16.311,0,12.313,73.207,14.480

In [4]:
soil2 = pd.read_excel('../data/nsw-assessment-of-soil-health.xlsx', sheet_name='soil_chemical_analysis')
print(soil2.shape)
soil2.head(3)

(2250, 7)

,Community,SiteID,Site2,Colwell_P,Total_C%,Total_N%,Bulk_density
0,Cypress pine,CYP_001_000,CYP_001,12.792,1.109756,0.107524,2.061318
1,Cypress pine,CYP_001_050,CYP_001,7.216,1.233463,0.134746,2.046539
2,Cypress pine,CYP_001_100,CYP_001,18.040,4.026537,0.308362,1.428816

In [11]:
join = soil1.join(soil2.set_index('Site2')[['Community']], on='Site')

# join = soil1.join(soil2, how='left')

join.head()

,Site,< 0.060 um,0.06um-0.20um,0.20um-0.63um,0.06um-0.63um,0.63um-2.00um,2.00um-6.30um,6.30um-20.00um,20.00um-63.00um,>63.00um,> 2000.00um,Clay,Silt,Sand,Community
0,CYP_001,0,0.0,3.674,3.674,18.059,20.094,13.121,19.861,25.191,0,25.407,53.076,21.517,Cypress pine
0,CYP_001,0,0.0,3.674,3.674,18.059,20.094,13.121,19.861,25.191,0,25.407,53.076,21.517,Cypress pine
0,CYP_001,0,0.0,3.674,3.674,18.059,20.094,13.121,19.861,25.191,0,25.407,53.076,21.517,Cypress pine
0,CYP_001,0,0.0,3.674,3.674,18.059,20.094,13.121,19.861,25.191,0,25.407,53.076,21.517,Cypress pine
0,CYP_001,0,0.0,3.674,3.674,18.059,20.094,13.121,19.861,25.191,0,25.407,53.076,21.517,Cypress pine

In [ ]:
cp = soil[soil['Community'] == 'Cypress pine']
cp.head()

In [ ]:
cp.shape

In [ ]:
bb = soil[soil['Community'] == 'Blackbox']
bb.head()

In [ ]:
bb.shape

In [ ]:
rr = soil[soil['Community'] == 'Redgum']
rr.head()

In [ ]:
rr.shape